.card {
    background-color: #191C24;
    color: #fff;
  }
  
 h3 {
    padding: 10px;
  }

img {
    width: 100%;
  }
  
.card .container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
button {
    padding: 5px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    background-color: #bb1c1c;
    color: #fff;
  }
  