.tagline {
    background: url("./images/car_bg.jpg") center/100% no-repeat;
    background-attachment: fixed cover;
    height: 80vh;
    color: #fff;
  }
  
  .tagline .container {
    padding: 30px;
    text-align: left;
  }
  
  .tagline .container h1 {
    font-size: 3rem;
    font-weight: 600;
  }
  
  .tagline .container p {
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
  }
  
  .tagline .container span {
    color: #A81010;
  }